.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modalTitle {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.table {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.actionIconWrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.editIcon {
  color: orange;
  font-size: 25px;
}

.editIcon:hover {
  color: rgb(255, 196, 86);
  cursor: pointer;
}

.cancelIcon {
  color: rgb(255, 0, 0);
  font-size: 25px;
}

.cancelIcon:hover {
  color: rgb(255, 59, 59);
  cursor: pointer;
}

.modalButtonsWrapper {
  display: flex;
  justify-content: right;
}